<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.mall.common.dao.LogisticsDao">
		
  <resultMap id="BaseResultMap" type="com.gs.mall.common.po.Logistics">
			<id column="logistics_id" jdbcType="BIGINT" property="logisticsId" />
			<result column="user_addr_id" jdbcType="BIGINT" property="userAddrId" />
			<result column="simple_name" jdbcType="VARCHAR" property="simpleName" />
			<result column="name" jdbcType="VARCHAR" property="name" />
			<result column="code" jdbcType="VARCHAR" property="code" />
			<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap> 
  

  <sql id="Base_Column_List">
		logistics_id
		,user_addr_id
		,simple_name
		,name
		,code
		,create_time
  </sql>

  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" /> 
    from gs_logistics 
    where logistics_id = #{id}
  </select>
	
  <insert id="insert" parameterType="com.gs.mall.common.po.Logistics" useGeneratedKeys="true" keyColumn="logistics_id" keyProperty="logisticsId">
    insert into gs_logistics(
				user_addr_id
				,simple_name
				,name
				,code
				,create_time
	)
	values(
			#{userAddrId,jdbcType=BIGINT}
			,#{simpleName,jdbcType=VARCHAR}
			,#{name,jdbcType=VARCHAR}
			,#{code,jdbcType=VARCHAR}
			,#{createTime,jdbcType=TIMESTAMP}
	)	
  </insert>

  <update id="update" parameterType="com.gs.mall.common.po.Logistics">
    update gs_logistics 
    <set>
			 <if test="userAddrId != null">
				user_addr_id = #{userAddrId,jdbcType=BIGINT},
			 </if>
			 <if test="simpleName != null">
				simple_name = #{simpleName,jdbcType=VARCHAR},
			 </if>
			 <if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			 </if>
			 <if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			 </if>
			 <if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			 </if>
	</set>
    where logistics_id = #{logisticsId}
  </update>

  <delete id="deleteById" parameterType="java.lang.Long">
    delete from gs_logistics where logistics_id = #{id}
  </delete>
  
  <select id="selectByParam" resultMap="BaseResultMap">
	  select <include refid="Base_Column_List"/> from gs_logistics <include refid="select_query_sql"/> limit  #{startIndex}, #{fetchSize}
  </select>
  
  <select id="selectCountByParam" parameterType="java.util.Map" resultType="java.lang.Integer">
		 select count(*) items from gs_logistics <include refid="select_query_sql"/> 
  </select>
  
  <sql id="select_query_sql">
	<where>
			 <if test="params.userAddrId != null">
				and user_addr_id = #{params.userAddrId}
			 </if>
			 <if test="params.simpleName != null">
				and simple_name = #{params.simpleName}
			 </if>
			 <if test="params.name != null">
				and name = #{params.name}
			 </if>
			 <if test="params.code != null">
				and code = #{params.code}
			 </if>
			 <if test="params.createTime != null">
				and create_time = #{params.createTime}
			 </if>
	</where>
  </sql>

</mapper>