<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.mall.order.dao.ShoppingCartDao">
		
  <resultMap id="BaseResultMap" type="com.gs.mall.order.po.ShoppingCart">
			<id column="sc_id" jdbcType="BIGINT" property="scId" />
			<result column="owner_id" jdbcType="VARCHAR" property="ownerId" />
			<result column="commodity_id" jdbcType="BIGINT" property="commodityId" />
			<result column="sku_id" jdbcType="VARCHAR" property="skuId" />
			<result column="buy_num" jdbcType="INTEGER" property="buyNum" />
			<result column="status" jdbcType="INTEGER" property="status" />
			<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>


	<resultMap id="BaseResultMapDto" type="com.gs.mall.order.dto.ShoppingCartDto">
		<id column="sc_id" jdbcType="BIGINT" property="id" />
		<result column="commodity_id" jdbcType="BIGINT" property="commodityId" />
		<result column="sku_id" jdbcType="VARCHAR" property="skuId" />
		<result column="buy_num" jdbcType="INTEGER" property="buyNum" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="sku_id" jdbcType="VARCHAR" property="skuId" />
		<result column="sku_name" jdbcType="VARCHAR" property="skuName" />
		<result column="img_uri" jdbcType="VARCHAR" property="imgUri" />
		<result column="status" jdbcType="INTEGER" property="commodityStatus" />
		<result column="sale_price" jdbcType="INTEGER" property="salePrice" />
		<result column="inventory" jdbcType="INTEGER" property="inventory" />
	</resultMap>

  <sql id="Base_Column_List">
		sc_id
		,owner_id
		,commodity_id
		,sku_id
		,buy_num
		,status
		,create_time
  </sql>

  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" /> 
    from gs_shopping_cart 
    where sc_id = #{id}
  </select>
	
  <insert id="insert" parameterType="com.gs.mall.order.po.ShoppingCart" useGeneratedKeys="true" keyColumn="sc_id" keyProperty="scId">
    insert into gs_shopping_cart(
				owner_id
				,commodity_id
				,sku_id
				,buy_num
				,status
				,create_time
	)
	values(
			#{ownerId,jdbcType=VARCHAR}
			,#{commodityId,jdbcType=BIGINT}
			,#{skuId,jdbcType=VARCHAR}
			,#{buyNum,jdbcType=INTEGER}
			,#{status,jdbcType=INTEGER}
			,#{createTime,jdbcType=TIMESTAMP}
	)	
  </insert>

  <update id="update" parameterType="com.gs.mall.order.po.ShoppingCart">
    update gs_shopping_cart 
    <set>
			 <if test="ownerId != null">
				owner_id = #{ownerId,jdbcType=VARCHAR},
			 </if>
			 <if test="commodityId != null">
				commodity_id = #{commodityId,jdbcType=BIGINT},
			 </if>
			 <if test="skuId != null">
				sku_id = #{skuId,jdbcType=VARCHAR},
			 </if>
			 <if test="buyNum != null">
				buy_num = #{buyNum,jdbcType=INTEGER},
			 </if>
			 <if test="status != null">
				status = #{status,jdbcType=INTEGER},
			 </if>
			 <if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			 </if>
	</set>
    where sc_id = #{scId}
  </update>

  <delete id="deleteById" parameterType="java.lang.Long">
    delete from gs_shopping_cart where sc_id = #{id}
  </delete>

	<select id="selectByParam" resultMap="BaseResultMapDto">
		SELECT sc.sc_id,sc.commodity_id,sc.sku_id,sc.buy_num,cd.title,cd.sku_name,cd.img_uri,cd.sale_price,cd.inventory,cd.`status`
		FROM gs_shopping_cart sc INNER JOIN `gs_commodity_detail` cd ON sc.sku_id = cd.sku_id AND sc.commodity_id = cd.commodity_id AND cd.`status` = 1
		<include refid="select_query_sql"/> ORDER BY sc.create_time DESC limit  #{startIndex}, #{fetchSize}
	</select>

	<select id="selectCountByParam" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT count(*) items
		FROM gs_shopping_cart sc INNER JOIN `gs_commodity_detail` cd ON sc.sku_id = cd.sku_id AND sc.commodity_id = cd.commodity_id AND cd.`status` = 1
		<include refid="select_query_sql"/>
	</select>

	<sql id="select_query_sql">
		<where>
			<if test="params.ownerId != null">
				and sc.owner_id = #{params.ownerId}
			</if>
			<if test="params.commodityId != null">
				and sc.commodity_id = #{params.commodityId}
			</if>
			<if test="params.skuId != null">
				and sc.sku_id = #{params.skuId}
			</if>
			<if test="params.status != null">
				and sc.status = #{params.status}
			</if>
		</where>
	</sql>
	<update id="batchDelete" >
		update gs_shopping_cart set `status` = -1 where owner_id = #{ownerId} and sc_id in
		<foreach collection="ids" open="(" separator="," close=")" item="id">#{id}</foreach>
	</update>

	<update id="batchUpdate" parameterType="java.util.List">
		<foreach collection="list" open="" separator=";" close="" item="sc">
			update gs_shopping_cart
			<set>
				<if test="sc.commodityId != null">
					commodity_id = #{sc.commodityId,jdbcType=BIGINT},
				</if>
				<if test="sc.skuId != null">
					sku_id = #{sc.skuId,jdbcType=VARCHAR},
				</if>
				<if test="sc.status != null">
					status = #{sc.status,jdbcType=INTEGER},
				</if>
				<if test="sc.buyNum != null">
					buy_num = #{sc.buyNum,jdbcType=INTEGER},
				</if>
			</set>
			where sc_id = #{sc.scId}
			<if test="sc.ownerId != null">
				and owner_id = #{sc.ownerId,jdbcType=VARCHAR}
			</if>
		</foreach>
	</update>


</mapper>