<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.mall.order.dao.WorkOrderFlowRecDao">
    <resultMap id="WorkOrderFlowRec" type="com.gs.mall.order.po.WorkOrderFlowRec">
        <id column="id" property="id" />
        <result column="wo_id" property="wo_id" />
        <result column="operator_id" property="operator_id" />
        <result column="operator" property="operator" />
        <result column="operation" property="operation" />
        <result column="operation_time" property="operation_time" />
        <result column="operation_from" property="operation_from" />
        <result column="logistics" property="logistics" />
        <result column="pre_operation" property="pre_operation" />
        <result column="next_operation" property="next_operation" />
        <result column="status" property="status" />
        <result column="reason" property="reason" />
        <result column="remark" property="remark" />
        <result column="from_operator" property="from_operator" />
        <result column="from_operator_id" property="from_operator_id" />
        <result column="create_time" property="create_time" />
    </resultMap>
    <sql id="Base_Column_List">
        id,wo_id,operator_id,operator,operation,operation_time,operation_from,logistics,pre_operation,
        next_operation,status,reason,remark,from_operator,from_operator_id,create_time
    </sql>
    <sql id="table_name">gs_work_order_flow_rec</sql>
    <sql id="select_query_sql">
        <where>
            <if test="params.wo_id != null">
                wo_id = #{params.wo_id}
            </if>
            <if test="params.operator_id != null">
                and operator_id = #{params.operator_id}
            </if>
            <if test="params.operator != null">
                and operator = #{params.operator}
            </if>
            <if test="params.operation != null">
                and operation = #{params.operation}
            </if>
            <if test="params.operation_from != null">
                and operation_from = #{params.operation_from}
            </if>
            <if test="params.logistics != null">
                and logistics = #{params.logistics}
            </if>
            <if test="params.pre_operation != null">
                and pre_operation = #{params.pre_operation}
            </if>
            <if test="params.next_operation != null">
                and next_operation = #{params.next_operation}
            </if>
            <if test="params.status != null">
                and status = #{params.status}
            </if>
            <if test="params.remark != null">
                and remark = #{params.remark}
            </if>
            <if test="params.reason != null">
                and reason = #{params.reason}
            </if>
            <if test="params.beginDate != null">
                and operation_time &gt;= #{params.beginDate}
            </if>
            <if test="params.endDate != null">
                and operation_time &lt;= #{params.endDate}
            </if>
        </where>
    </sql>

    <insert id="insert" parameterType="com.gs.mall.order.po.WorkOrderFlowRec" useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="id">
        INSERT INTO <include refid="table_name" />(<include refid="Base_Column_List"/>)
        VALUES(0,#{wo_id},#{operator_id},#{operator},#{operation},#{operation_time},#{operation_from},#{logistics},
        #{pre_operation}, #{next_operation}, #{status},#{reason},#{remark},#{from_operator},#{from_operator_id},
        #{create_time})
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="update" parameterType="com.gs.mall.order.po.WorkOrderFlowRec">
        UPDATE <include refid="table_name" />
        <set>
            <if test="operator_id != null">
                operator_id = #{operator_id},
            </if>
            <if test="operator != null">
                operator = #{operator},
            </if>
            <if test="operation_time != null">
                operation_time = #{operation_time},
            </if>
            <if test="operation_from != null">
                operation_from = #{operation_from},
            </if>
            <if test="logistics != null">
                logistics = #{logistics},
            </if>
            <if test="pre_operation != null">
                pre_operation = #{pre_operation},
            </if>
            <if test="next_operation != null">
                next_operation = #{next_operation},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="reason != null">
                reason = #{reason},
            </if>
            <if test="remark != null">
                remark = #{remark}
            </if>
        </set>
        WHERE id=#{id} AND wo_id=#{wo_id} AND operation=#{operation}
    </update>

    <select id="selectById" parameterType="int" resultMap="WorkOrderFlowRec">
        SELECT * from <include refid="table_name" /> WHERE id=#{id}
    </select>

    <select id="currentWorkOrderByOrderId" parameterType="String" resultMap="WorkOrderFlowRec">
        SELECT * from <include refid="table_name" /> WHERE order_id=#{order_id} ORDER BY operation_time DESC limit 0,1
    </select>

    <select id="currentWorkOrderByWoId" parameterType="String" resultMap="WorkOrderFlowRec">
        SELECT * from <include refid="table_name" /> WHERE wo_id=#{wo_id} ORDER BY id DESC limit 0,1
    </select>

    <select id="selectByParam" resultMap="WorkOrderFlowRec">
        SELECT * FROM <include refid="table_name" /> <include refid="select_query_sql" /> limit #{startIndex}, #{fetchSize}
    </select>


    <resultMap id="WorkOrderTableDisplay" type="com.gs.mall.order.po.WorkOrderTableDisplayData">
        <result column="wo_id" property="wo_id" />
        <result column="order_id" property="order_id" jdbcType="VARCHAR"/>
        <result column="status" property="status" />
        <result column="operation_time" property="operation_time"/>
        <result column="operation" property="operation"/>
        <result column="create_time" property="create_time" />
        <result column="num" property="num" />
        <result column="refundAmount" property="refundAmount" />
        <result column="refundPoints" property="refundPoints" />
        <result column="refundApplicationInstruction" property="refundApplicationInstruction" />
        <result column="fromApplicationPerson" property="fromApplicationPerson" />
        <result column="fromApplicationPersonId" property="fromApplicationPersonId" />
        <result column="operatedPerson" property="operatedPerson" />
        <result column="operatedPersonId" property="operatedPersonId" />
        <result column="owner" property="owner" />
    </resultMap>
    <select id="getWorkOrderTableDisplayData" parameterType="com.gs.mall.order.dto.WorkOrderTableDisplayDto" resultMap="WorkOrderTableDisplay">
        select e.price as refundAmount,e.num as num,e.points as refundPoints,f.id,
          f.wo_id,f.order_id,f.customerName,f.customerTel,f.status,f.operation,f.operation_time,f.create_time,
          f.logistics,f.reason,f.from_operator,f.from_operator_id,
          f.operator,f.operator_id,f.own as owner
          from gs_refund_commodity e
          RIGHT join
          (SELECT c.id,c.wo_id,d.order_id,d.customerName,d.customerTel,c.status,c.operation,c.operation_time,c.create_time,c.logistics,c.reason,c.from_operator,
              c.from_operator_id,c.operator,c.operator_id,c.own from
            (SELECT a.*,b.own from gs_work_order_flow_rec a right join (SELECT operation,own from gs_work_order_flow
              <where><if test="owner != null">OWN LIKE CONCAT('%',#{owner},'%')</if></where>) b
              on a.operation=b.operation) c
            RIGHT join
            (SELECT * from gs_work_order_new
              <where>
                  <if test="order_id != null">
                      order_id=#{order_id,jdbcType=VARCHAR}
                  </if>
                  <if test="startTime != null">
                      and createtime &gt;= #{startTime}
                  </if>
                  <if test="endTime != null">
                      and createtime &lt;= #{endTime}
                  </if>
              </where>
            ORDER BY id DESC
            limit #{startIndex},#{fetchSize}) d
            on c.wo_id=d.wo_id ) f
        on f.wo_id=e.wo_id
        WHERE f.id IS NOT NULL
        ORDER BY f.order_id DESC,f.id ASC
    </select>


</mapper>